---
import { commercial } from "../data/marketingContent";
---

<div class="price-callout" role="note">
  <p class="price-callout__label">{commercial.priceLabel}</p>
  <p class="price-callout__value">{commercial.priceValue}</p>
  <p class="price-callout__suffix">{commercial.priceSuffix}</p>
</div>
