---
/** Único efeito de fundo na home SPA: feixes de luz verticais. */
---

<div class="spa-bg-effects" aria-hidden="true">
  <div class="light-beams-scene">
    <div class="light-beams-scene__floor"></div>
    <div class="light-beams-scene__column"></div>
    <div class="light-beams-stream"></div>
  </div>
</div>

<script>
  import "../scripts/backgroundBeamsBoot.ts";
</script>
